[Desktop Entry]
Name=Cursor AI IDE
Exec=$HOME/Applications/cursor/cursor.AppImage --no-sandbox
Icon=$HOME/Applications/cursor/cursor.png
Terminal=false
Type=Application
Categories=Utility;Development;
MimeType=text/plain;
