[Desktop Entry]
Name=Cursor AI IDE
Exec=/opt/cursor/cursor.appimage --no-sandbox
Icon=/opt/cursor/cursor.png
Terminal=false
Type=Application
Categories=Utility;Development;
MimeType=text/plain;
