[Unit]
Description=Update Cursor

[Service]
ExecStart=/home/$USER/Applications/cursor/update-cursor.sh
Type=oneshot

[Install]
WantedBy=default.target
